// ==== Colors
$primary-green: #55c57a;
$light-green: #7ed56f;
$dark-green: #28b485;

$light-grey-1: #f7f7f7; 

$grey-dark: #777;
$white: #fff;
$black: #000;

//  ==== Font Sizes
$default-font-size: 1.6rem;

//  ==== Grid
$grid-width: 114rem;
$grid-vertical-gap: 8rem;
$grid-horizontal-gap: 6rem;