// ==== Colors
$primary-green: #55c57a;
$light-green: #7ed56f;
$dark-green: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$light-grey-1: #f7f7f7; 
$light-grey-2: #eee; 

$grey-dark: #777;
$grey-dark-2: #333;
$white: #fff;
$black: #000;

//  ==== Font Sizes
$default-font-size: 1.6rem;

//  ==== Grid
$grid-width: 114rem;
$grid-width-small: 50rem;
$grid-vertical-gap: 8rem;
$grid-vertical-gap-small: 6rem;
$grid-horizontal-gap: 6rem;
$grid-horizontal-gap-small: 3rem;