.row {
  max-width: $grid-width;
  background-color: #eee;
  margin: 0 auto;
  display: flex;
  
  &:not(:last-child) {
    margin-bottom: $grid-vertical-gap;
  }

  [class^='col-'] {
    background-color: orangered;
    
    &:not(:last-child) {
      margin-right: $grid-horizontal-gap;
    }
  }

  .col-1-of-2 {
    width: calc((100% - #{$grid-horizontal-gap})/2);
  }

  .col-1-of-3 {
    width: calc((100% - (#{$grid-horizontal-gap} * 2 ))/3);
  }
  
  .col-2-of-3 {
    width: calc(((100% - (#{$grid-horizontal-gap} * 2 ))/3) * 2 + #{$grid-horizontal-gap});
  }
  
  .col-1-of-4 {
    width: calc((100% - (#{$grid-horizontal-gap} * 3 ))/4);
  }

  .col-2-of-4 {
    width: calc(((100% - (#{$grid-horizontal-gap} * 3 ))/4) * 2 + #{$grid-horizontal-gap});
  }

  .col-3-of-4 {
    width: calc(((100% - (#{$grid-horizontal-gap} * 3 ))/4) * 3 + (#{$grid-horizontal-gap}*2));
  }
}
