// ==== Header
.header {
  position: relative;
  height: 90vh;
  background-image: linear-gradient(
    to bottom right,
    rgba($light-green, 0.8),
    rgba($dark-green, 0.8)),
    url('../img/hero.webp');
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);


  // Nesting stuff inside header
  &__logo-box{
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem;
  }
  
  &__title-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    // background: red;
  }
}