.navigation {

  &__checkbox {
    display: none;
  }

  // Menu Button
  &__label { 
    background-color: $white;
    display: inline-block;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 3;
    box-shadow: 0 .5rem 2rem rgba($black, .1);
  }

  // Menu Background
  &__background {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-image: radial-gradient($light-green, $dark-green);
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    z-index: 1;

    will-change: transform; // for chromium scale() performance
    transition: transform 1s cubic-bezier(0.83, 0, 0.17, 1);
  }

  // Nav element & list
  &__nav-element {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    transform: translateX(-100%);
    opacity: 0.001;
    
    transition: all 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }

  &__list {
    list-style: none;
    text-align: center;
    @include center-element-hv;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      text-decoration: none;
      font-size: 3rem;
      font-weight: 300;
      color: $white;
      text-transform: uppercase;
      padding: .8rem 2rem;

      // For Background Animation
      background-image: linear-gradient(
        115deg,
        transparent 0%,
        transparent 50%,
        $white 50%
      );
      background-size: 220%;
      transition: all .5s;
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $primary-green;
    }
  }


  // Menu Button - Click Functionality (Checkbox Hack)
  &__checkbox:checked ~ &__background {
    transform: scale(143);
  }

  &__checkbox:checked ~ &__nav-element {
    transform: translateX(0);
    opacity: 1;
  }
}