.form {

  &__group {
    &:not(:last-child) {
      margin-bottom: 3rem;
    }

    &:nth-child(4) {
      display: flex;
      margin-bottom: 4rem;

      @include respond(tab_port) {
        flex-direction: column;
      }
    }
  }

  // Center Heading & button for mobile view
  @include respond(tab_port) {
    h2 {
      display: block;
      text-align: center;
    }

    .form__group:last-child {
      text-align: center;
    }
  }
  /////////////////////////////////////////

  &__input {
    font-size: 1.5rem;
    font-family: inherit; //input doesn't automatically inherit font rules
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    border: none;
    border-bottom: 3px solid transparent;
    background-color: rgba($white, .5);
    width: 85%;
    display: block;

    transition: all .2s;

    @include respond(tab_port) {
      width: 100%;
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($black, .1);
      border-bottom: 3px solid $primary-green;

      &:invalid {
        border-bottom: 3px solid $color-secondary-dark;
      }
    }

    &::placeholder {
      color: rgba($black, .7);
    }
    
    &:placeholder-shown + .form__label {
      opacity: 0;
      transform: translateY(-4.5rem);
    }
  }


  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: inline-block;

    transition: all .3s;
  }


  // Radio Buttons
  &__radio-group {
    width: 50%;

    @include respond(tab_port) {
      &:not(:last-child){
        margin-bottom: 2rem;
      }

      width: 95%;
      text-align: center;
    }
  }

  &__radio-input {
    display: none;

    // Custom radio button when checked - dot in the middle
    &:checked + .form__radio-label::before {
      background-color: $primary-green;
    }
  }

  &__radio-label {
    position: relative;
    font-size: $default-font-size;
    cursor: pointer;
    padding-left: 4rem;

    // We add & style custom radio button
    &::before {
      content: '';
      display: inline-block;
      height: 3rem;
      width: 3rem;
      border: 5px solid $primary-green;
      border-radius: 50%;
      position: absolute;
      top: -0.75rem;
      left: 0;
      background-color: transparent;
      padding: .4rem;
      background-clip: content-box;

      transition: background-color .2s;
    }
  }
}